body{
    background: url(../images/e7d1212ed0ddaddd564c49856e2cd8c5.jpg);
}

/* HEADER, MUSIC, AND NAV BAR*/

#header{
    color: white;
    background: url(../images/amen.gif);
    background-size: 100%;
    background-position: center;
    border: 5px dashed white;
    text-align: center;
    margin: auto;
    line-height: 10%;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 200%;
    width:90%;
    height: 30%;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 0 0 3px white;
    box-shadow: 0 0 3px;
}
#audio{
    text-align: center;
    line-height: 80%;
    padding: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: white;
}
audio::-webkit-media-controls-panel{
    background-color: rgb(237, 235, 203); 
}
audio::-webkit-media-controls-mute-button{
    background-color: pink;
    border-radius: 50%;
}
audio::-webkit-media-controls-play-button{
    background-color: pink;
    border-radius: 50%;
}
audio::-webkit-media-controls-current-time-display{
    color: pink;
}
audio::-webkit-media-controls-time-remaining-display{
    color: pink;
}
audio::-webkit-media-controls-timeline{
    background-color: pink;
    border-radius: 25px;
    padding: 0.5px;
}

/* TABLES */

table{
    border: 1px solid black;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
    background: white;
    padding: 5px;
    background-color: rgb(235, 235, 194);
    box-shadow: 0 0 3px;
}
th{
    border: 1px solid black;
    font-size: x-large;
}
td{
    border: 1px solid black;
    line-height: 150%;
    padding: 5px;
}
#likes:hover{
    background-color: pink;
    color: white;
}
#likestext:hover{
    background: url(../images/bingus.gif) rgb(255, 255, 255, 0.5);
    background-size: 100%;
    color: red;
    font-style: bold;
    background-color: pink;
}
#dislikes:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 0, 0);
}
#dislikestext:hover{
    background: url(../images/bruh.gif) rgb(255, 255, 255, 0.5);
    background-size: 100%;
    background-position: center;
    color: red;
    font-style: bold;
    background-color: pink;
}
#chikret{
    text-align: center;
    border: 5px solid rgb(235, 235, 194);
    box-shadow: 0 0 5px black;
    background-color: pink;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    width: 20%;
    margin: auto;
    margin-top: 10px;
    border-radius: 25px;
    color: black;
    text-shadow: 0 0 5px white;
}
#surprise{
    text-decoration: none;
    color: black;
    width: 100%;
    margin: auto;
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: xx-large;
}
